<%= image_tag('waldo.jpg', :class => "waldo searching") %>

<div class='target'>

  <div class='dropdown'>

    <div class='names'>
      <div class='name'>Waldo</div>
      <div class='name'>Wenda</div>
      <div class='name'>Odlaw</div>
      <div class='name'>Wizard</div>
      <div class='name'>Woof</div>
    </div>

  </div>

</div><!--  target -->


</div>


<div class="tag" id='tag-prototype'>
  <div class="delete-tag">X</div>
  <div class="tagged-name">Nancy</div>
</div>
